.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card{
  width: 200px;
  box-shadow: rgb(230, 230, 230) 0px 0px 5px 0px;
  text-align: center;
  border-radius: 3px;
  padding: 20px;
}

.card p{
  opacity: .5;
}

.card img {
  height: 100px;
}


@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
