.footer {
  background: #2C2B2B;
  height: 100px;
  padding: 0px 50px;
  color: #6b6c6c;
  text-align: center;
  padding: 60px;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links a {
  color: #1edd88;
  opacity: 0.9;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 5px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
